body {
    font-size: 16px;
    color: #333;
    transition-duration: .5s;
}

/* High contrast styles */
.high-contrast {
    background-color: #000;
    color: #fff;
    transition-duration: .5s;
}

/* Font size styles */
.small-text {
    font-size: 14px;
}

.large-text {
    font-size: 18px;
}

/* WCAG menu styles */
.wcag-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
}

.wcag-menu button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.wcag-menu button:hover, .cookie-info button:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
    transition-duration: .5s;
}

/* Cookie */
.cookie-info {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.cookie-info img {
    width: 100px;
    height: auto;
}

.cookie-info p {
    margin: 0;
    width: 200px;
    padding: 10px;
}

.cookie-info button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width:700px) {
    .cookie-info {
        border: 3px solid green;
        border-radius: 15px;
    }

    .cookie-info img {
        width: 50px;
        height: auto;
    }

    .cookie-info p {
        margin: 0;
        width: 150px;
        padding: 10px;
    }

    /* WCAG menu styles */
    .wcag-menu {
        top: auto;
        bottom: 20px;
    }
}