@import "https://fonts.googleapis.com/css2?family=Oswald&display=swap";

body {
  background-color: #FFFAFA;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  overflow-x: hidden;
  font-display: fallback;
  font-weight: normal;
  -moz-osx-font-smoothing: normal;
  -webkit-font-smoothing: auto;

}

@media only screen and (max-width:700px) {

  body,
  html {
    overflow-x: hidden;
    width: 100%
  }
}

.accessibility {
  float: right;
  position: relative;
  right: 2vw;
  top: 0;
  z-index: 1
}


h1,
h2 {
  text-align: center
}

button {
  color: #FFFAFA;
  font-weight: 700
}

button:hover {
  background-color: #4a4541 !important;
}

#fontMinusBtn {
  font-size: 150%;
}

#fontMinusBtn:hover,
#fontPlusBtn:hover,
#kontrast:hover {
  background-color: #4a4541 !important;
  color: #fff !important
}

#fontPlusBtn {
  font-size: 200%;
}

.topbox {
  position: relative
}

header {
  left: 0;
  position: relative;
  right: 0;
  top: 0
}

.column img,
.opis,
footer img,
header img {
  width: 100%
}

.text {
  color: #fff;
  font-size: 18px;
  padding: 16px 32px
}

.tekst {
  color: #000;
  font-size: 1.3em;
  line-height: 1.5;
  margin: 0 5%;
  text-align: justify
}

#head {
  display: block;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  opacity: .25;
  position: fixed;
  right: -100px;
  z-index: -1
}

@media screen and (max-width:700px) {
  #head {
    left: 0
  }
}

.flaga,
.glowa img {
  float: right
}

.button,
.watch {
  display: flex;
  justify-content: center;
  padding: 3%
}

.button button,
button {
  cursor: pointer;
  transition-duration: .4s
}

.button button {
  background-color: #66685b;
  border: 0;
  border-radius: 12px;
  font-size: 32px;
  padding: 15px 32px
}

.button button a {
  color: #fff;
  text-decoration: none
}

.button button:hover {
  background: #4a4541
}

footer {
  border: 1px solid #000;
  bottom: 0;
  left: 0;
  margin-top: 2%;
  position: relative;
  width: 100%
}

footer ul {
  display: flex;
  list-style: none
}

#mobile-gmina {
  display: none
}

footer ul li {
  padding-right: 1%
}

@media screen and (max-width:700px) {
  #gmina {
    display: none
  }

  footer ul {
    padding-right: 10%
  }

  #mobile-gmina {
    display: block
  }
}

.image {
  backface-visibility: hidden;
  opacity: 1;
  transition: .5s ease
}

.image:hover {
  opacity: .3
}

.galeria div {
  margin: auto
}

.galeria a {
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px
}

.column,
.galeria a {
  justify-content: center
}

.column {
  flex: 10%;
  max-width: 25%;
  padding: 0 4px;
  text-align: center
}

.column img {
  margin-top: 8px;
  vertical-align: middle
}

@media screen and (max-width:700px) {
  .column {
    flex: 70%;
    max-width: 70%
  }
}

@media screen and (max-width:500px) {
  .column {
    flex: 100%;
    max-width: 100%
  }
}

.naglowek {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  text-transform: uppercase
}

.column .teatr {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%)
}

.zdjecie {
  color: #fff;
  font-size: .6em;
  max-height: 200px;
  max-width: 400px;
  padding: 3%;
  position: relative;
  text-align: center
}

@media screen and (max-width:1000px) {
  .zdjecie {
    font-size: .4em
  }
}

.centered {
  left: 50%;
  position: absolute;
  text-shadow: 3px 3px #000;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%)
}

.zdjecie:hover {
  opacity: .3
}

.sekcja {
  font-size: 32px;
  padding-top: 3%;
  text-align: center;
  text-decoration: underline
}

.profil {
  display: flex
}

@media screen and (max-width:700px) {
  .profil {
    display: block
  }
}

.nazwa {
  align-items: center;
  display: flex;
  font-size: 3em;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  width: 50%
}

@media screen and (max-width:1300px) and (min-width:700px) {
  .m-p-g__thumbs-img {
    height: 267px !important;
    width: 400px !important
  }

  .nazwa {
    font-size: 2em;
    width: 100%
  }
}

@media screen and (max-width:700px) {
  .nazwa {
    font-size: 1.3em
  }

  .nazwa ul li {
    margin-left: -5%;
    width: 100%
  }

  .info ul li {
    width: 88%
  }

  .m-p-g__thumbs-img {
    float: none !important;
    height: 100% !important;
    width: 100% !important
  }
}

.nazwa ul {
  list-style: none
}

.tytul {
  font-style: italic
}

.foto img {
  margin: 3px
}

@media screen and (max-width:700px) {

  .foto,
  .nazwa {
    width: 100%
  }
}

.info,
.opis ul {
  text-align: justify
}

.info {
  line-height: 1.5;
  margin: 2% auto;
  width: 90%
}

.opis ul {
  width: 100%
}

.yt {
  margin-top: 3%;
  text-align: center;
}

@media only screen and (max-width:700px) {
.yt {
  width: 95%;
  margin: auto;
}
}

iframe {
  border: none
}

#mtt,
#exilium {
  font-size: 24px
}

@media only screen and (max-width:700px) {
  iframe {
    width: 100%
  }

  #fritsch {
    font-size: 25px !important
  }

  #mtt,
  #exilium {
    font-size: 20px !important
  }

  .info {
    width: 95%
  }
}

#link {
  color: #000;
  font-size: 1.5em
}

@media only screen and (min-width:700px) {
  .pion {
    height: 40% !important;
    max-height: 40% !important;
    width: 40% !important
  }

  #fritsch,
  #mtt {
    font-size: .7em !important
  }
}

.element {
  background-color: #000;
  transition-duration: .4s
}

.element #link,
.element .info ol,
.element .info ul,
.element h2,
.element h1,
.element p,
.element li,
.element .info a,
hr {
  color: #fff
}

.element .banner,
.element .boll,
.element .button button,
.element #mapdiv,
.element .footer,
.element .head,
.element .image,
.element .nazwa .miasto,
.element .nazwa .teatr,
.element .nazwa .tytul,
.element .sekcja h2,
.element #simplecookienotification_v01,
.element #timer,
.element .hr,
.element .arrow-left,
.element .arrow-right {
  filter: invert(100%);
  transition-duration: .4s
}

.element #fontMinusBtn,
.element #fontPlusBtn,
.element #kontrast {
  background-color: #000;
  color: #fff
}

.element footer {
  background-color: #344454
}

.element.toggle {
  background-color: #FFFAFA !important
}

.element.toggle #link,
.element.toggle .info ol,
.element.toggle .info ul,
.element.toggle h2,
.element.toggle h1,
.element.toggle p,
.element.toggle li,
.element.toggle #privacy,
.element.toggle #timer,
.element.toggle .info a,
.element.toggle hr
{
  color: #000
}

.element.toggle .banner,
.element.toggle .boll,
.element.toggle .button button,
.element.toggle .watch button,
.element.toggle .footer,
.element.toggle #mapdiv,
.element.toggle .head,
.element.toggle .image,
.element.toggle .nazwa .miasto,
.element.toggle .nazwa .teatr,
.element.toggle .nazwa .tytul,
.element.toggle .sekcja h2,
.element.toggle #simplecookienotification_v01,
.element.toggle #timer,
.element.toggle .hr,
.element.toggle .arrow-left,
.element.toggle .arrow-right {
  filter: invert(0%)
}

.element.toggle #fontMinusBtn,
.element.toggle #fontPlusBtn,
.element.toggle #kontrast {
  background-color: #B8C2BC;
  color: #000
}

.element.toggle footer {
  background-color: #fff
}

#fontMinusBtn,
#fontPlusBtn,
#kontrast {
  background-color: transparent !important
}

#kontrast, #flag {
  cursor: pointer;
  font-size: 150%;
  position: relative;
  justify-content: center;
}

#blank {
  height: 200px;
  width: 400px
}

.wcag {
  border: 0
}

.hr {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hr::before, .hr::after {
  background-color: #000;
  content: '';
  display: inline-block;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.hr::before {
  left: calc(50% + 30px);
}

.hr::after {
  right: calc(50% + 30px);
}

.hr .icon {
  background-color: transparent; 
  color: #000;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1em;
}

@media only screen and (max-width:700px) {
  .head {
    padding-bottom: 4%
  }
}

.boll {
  background-color: #fff;
  display: flex;
  text-align: center
}

.boll img {
  max-width: 100%
}

#bck {
  margin: 1%
}

@media only screen and (max-width:700px) {
  #bck {
    margin: 0
  }
}

#timer {
  color: #000;
  font-size: 4em;
  margin-bottom: 0;
  text-align: center
}

@media only screen and (max-width:700px) {

  #timer {
    font-size: 1.7em;
  }
}

#cookies {
  bottom: 1%;
  position: absolute;
  right: 1%
}

@media only screen and (max-width:700px) {
  #cookies {
    bottom: 8vw
  }
}

#privacy {
  color: #000;
  font-size: 15px;
  text-decoration: none
}

#privacy:hover,
.element #privacy:hover {
  color: #8b4513
}

.element .info a:hover {
  font-weight: 800
}

#mapdiv {
  height: 450px;
  margin: auto;
  width: 1000px
}

@media only screen and (max-width:700px) {
  #mapdiv {
    width: 100%
  }
}

.opis {
  margin: auto;
  width: 55%
}

#collage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%
}

#teatr,
.test-gallery,
.arrows {
  text-align: center
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.arrows {
  margin-top: 25px;
}

/*
.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFAFA;
}

.loader {
  width: 120px;
  height: 120px;
  border-top: 4px solid rgb(237, 44, 73);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

*/
.preload {
  overflow: hidden;
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #0F0F0F;
}
#loader-img {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  z-index: 1001;  
  background-image: url('../img/head.webp');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  z-index: 1020;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #818578;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #1D242D;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #C4C3C3;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;  
  background: #FFFAFA;;
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}

.loader-section.section-left {
  left: 0
}

.loader-section.section-right {
  right: 0
}

.panel_left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000)
}

.panel_right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000)
}

.loaded-circle {
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.loaded-img {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all .3s 1s ease-out;
  transition: all .3s 1s ease-out
}