/* Base Styles */
body {
    color: #000;
    background-color: #8bb0c0;
    margin: auto;
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 22px;
    -moz-osx-font-smoothing: normal;
    -webkit-font-smoothing: auto;
    font-display: fallback;
}

h1, h2, h3 {
    text-align: center
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

body.with-transition {
    transition-duration: .5s
        /* Desired transition duration (0.5 seconds) */
}

.body {
    width: 90%;
    margin: auto
}

a {
    color: #000;
    font-weight: 700
}

.link:hover, .analytics:hover {
    filter: invert(.3);
    transition: .3s
}

.fade-in-paragraph {
    opacity: 0;
    animation: fade-in 1.5s ease forwards;
}

.fade-out-paragraph {
    opacity: 1;
    animation: fade-out 1.5s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

button {
    cursor: pointer;
}

/* PRELOADER */

.preload {
    overflow: hidden;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
}

#loader-img {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    z-index: 1001;
    background-image: url('../img/logo.webp');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    z-index: 1020;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BAA694;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1D242D;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #B9D7D8;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #8bb0c0;
    ;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.loader-section.section-left {
    left: 0
}

.loader-section.section-right {
    right: 0
}

.panel_left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .3s .1s cubic-bezier(0.645, 0.045, 0.355, 1.000)
}

.panel_right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .3s .1s cubic-bezier(0.645, 0.045, 0.355, 1.000)
}

.loaded-circle {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.loaded-img {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .3s .5s ease-out;
    transition: all .3s .5s ease-out
}

/* Other style */

.long {
    inline-size: 100%;
    overflow-wrap: break-word;
}

.hr-theme-slash-2 {
    display: flex;

    .hr-line {
        width: 100%;
        position: relative;
        margin: 15px;
        border-bottom: 1px solid #000;
    }

    .hr-icon {
        position: relative;
        top: 3px;
    }
}

.pdf-container, .pdf-download {
    text-align: center;
    margin-top: 50px;
}

.pdf-download a:hover {
    opacity: .7;
    transition-duration: .5s
}

/* Header & logo*/
header a:hover {
    filter: none
}

.banner {
    width: 100%
}

.logo {
    display: block;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    opacity: .15;
    position: fixed;
    right: -100px;
    z-index: -1;
    width: 50%
}

/* Font Size Styles */
.small-text {
    font-size: 22px
}

.large-text {
    font-size: 30px
}

p:first-child:first-letter {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px
}

/* Rotating gallery */

.scope-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.scope {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: slid 30s linear infinite;
}

.scope span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 32.73deg)) translateZ(350px);
}

.scope span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    transition: 2s;

}

@keyframes slid {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

/* WCAG Menu Styles */
.wcag {
    list-style: none;

}

.wcag-menu {
    position: fixed;
    top: 50%;
    bottom: 50%;
    right: 0;
    text-align: center;
}

.wcag-menu button {
    background: none;
    border: none;
    margin: auto;
}

.wcag-menu button:hover, .cookie-info button:hover {
    -webkit-filter: invert(.3);
    filter: invert(.3);
    transition-duration: .5s
}

.lang {
    font-size: 2em;
    margin-top: 10px;
}

/* Galeria */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    width: 100%;
    margin: auto
}

.image-container {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    max-height: 400px;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    transition: transform .5s ease;
}

.theater-photo {
    object-fit: cover;
}

.theater-container {
    top: 50%;
    bottom: 50%;
}

.theater-name {
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, .3);
    text-shadow: 1px 1px #000;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: auto;
}

.theater-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto
}

.theater {
    display: block;
}

.yt, .gallery {
    text-align: center
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    gap: .5em;
}

.thumb {
    max-width: 600px;
    height: 400px;
    object-fit: cover;
}

/* Style the hover image */
.image-container .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s ease;
    object-fit: fill;
    aspect-ratio: 3/2;
}

#flag {
    display: none;
}

/* Button */

.button {
    text-align: center;
}

.button button {
    border: 3px solid black;
    background-color: #B9D7D8;
    color: #000;
    border-radius: 12px;
    font-size: 32px;
    transition: .5s ease;
}

.button button:hover {
    background: #fff;
}

.button button:hover #yt-button {
    color: #FF0000;
}

/* Flipdown */
.flipdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* This is optional, but it will center the element both horizontally and vertically on the viewport. */
}

/* When hovering over the image container, show the hover image */
.image-container:hover .hover-image, .image-container:active .hover-image, .image-container:focus .hover-image {
    opacity: 1;
}

.flipdown-text {
    display: none;
}

/* Google Form */
.google-form {
    margin: auto
}

.google-form iframe {
    width: 100%;
    height: 700px
}

/* Cookie Info */
.cookie-info {
    padding: 10px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #B9D7D8;
    text-align: center;
    opacity: .9;
    border-radius: 5%;
    border: solid 5px;
    z-index: 999;
    display: none;
}

.cookie {
    width: 100px;
    height: auto;
    left: 0
}

.cookie-info p {
    margin: auto;
    width: 400px;
    padding: 10px
}

.cookie-info button {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: large
}

.close {
    cursor: pointer;
    position: absolute;
    top: 6%;
    right: 2%
}

.close:hover {
    opacity: .5;
    transition-duration: .3s
}

/* Footer Styles */
footer {
    border: 1px solid #000;
    bottom: 0;
    left: 0;
    margin-top: 2%;
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #fff;
    z-index: 1;
}

footer ul {
    display: flex;
    list-style: none
}

footer ul li {
    padding-right: 1%
}

.mobile-gmina {
    display: none
}

footer img {
    width: 100%
}

footer a:hover {
    opacity: .3
}

/* High Contrast Styles */
.high-contrast {
    background-color: #000;
    color: #fff;
    transition-duration: .5s
}

.high-contrast a:not(.high-contrast .cookie-info a), .high-contrast .analytics {
    color: #fff;
    font-weight: 700
}

.high-contrast .cookie-info img, .high-contrast .logo, .high-contrast footer, .high-contrast #head, .high-contrast .theater, .high-contrast .cookie-info p, .high-contrast .cookie-info .close, .high-contrast .flipdown, .high-contrast .hr-line {
    -webkit-filter: invert(1);
    filter: invert(100%)
}

.high-contrast .accessability {
    -webkit-filter: invert(1);
    filter: invert(100%)
}

.high-contrast .accessability img {
    -webkit-filter: invert(1);
    filter: invert(0%)
}

.high-contrast .accessability:hover {
    -webkit-filter: invert(.3);
    filter: invert(.3);
    transition-duration: .5s
}

.high-contrast .lang:hover {
    opacity: .7;
    transition-duration: .5s
}

.high-contrast .theater-name {
    background-color: #000;
    transition: .5s;
}

.high-contrast .cookie-info {
    border-color: #000;
    -webkit-filter: invert(1);
    filter: invert(100%)
}

.high-contrast .button button {
    background: #000;
    color: #fff;
    border-color: #fff;
}

.high-contrast .button button:hover {
    background: #fff;
    color: #000;
}

.high-contrast .button button:hover #yt-button {
    color: #FF0000;
}

.high-contrast #flag {
    filter: invert(0) !important
}

/* Responsive Styles */


@media (min-width:701px) and (max-width:1500px) {
    .gallery {
        display: flex;
        max-height: 20%;
        flex-grow: 1 1 0;
    }

    .thumb {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 700px) {

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 1em;
    }

    .cookie-info {
        left: 50%;
        /* Center horizontally */
        transform: translateX(-50%);
        /* Center horizontally */
        width: 80%
    }

    .cookie-info.fadeOut {
        /* Add a class for the fade-out animation */
        opacity: 0
    }

    .cookie-info p {
        width: auto;
        padding: 10px
    }

    .body {
        width: 80%
    }

    header {
        margin-top: 5%
    }

    /* WCAG Menu Styles */

    .wcag-menu {
        top: auto;
        bottom: 2%;
        z-index: 2;
    }

    .miasto {
        display: none
    }

    .mobile-gmina {
        display: block;
        margin-top: -30px;
    }

    footer ul {
        padding-right: 10%
    }

    footer {
        border: none;
        padding-top: 1%
    }

    .logo {
        left: 0;
        width: 100%
    }

    .google-form {
        margin-left: 0
    }

    .google-form iframe {
        height: 750px
    }

    .yt {
        margin: auto
    }

    iframe {
        border: none;
        width: 100%
    }

    #mobile img {
        width: 100%;
    }

    .thumb {
        max-width: auto;
        height: auto;
        object-fit: fill;
    }

    .gallery {
        width: 95%;
        margin: auto;
        display: block;
    }

    #photoswipe img {
        width: 100%;
    }

    .arrows {
        margin-top: 25px;
    }

    .hover-image {
        display: none;
    }

    #flag {
        display: inline-block;
        height: 1.2rem;
    }

    .grid {
        justify-content: center;
    }

    .gmina, .pdf-container {
        display: none;
    }

    .pdf-download {
        margin: 0 0 5%;
    }

    .scope {
        width: 150px;
        height: 150px;
    }

    .scope span {
        transform: rotateY(calc(var(--i) * 32.73deg)) translateZ(200px);
    }
}